---
layout: layout
title: Rozifus.com - The Home of Ryan Miller's Dev
---

<div id="home">
    <!--<div class="row">
        <div class="span12">
            <hr />
        </div>
    </div>-->
    <br />
    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span5">
                    <h2 class="title">Apps</h2>
                    <ul class="posts unstyled app-list">
                        {% for post in site.posts %}
                            {% if post.categories contains 'apps' %}
                            <li>
                                <a href="{{ post.url }}"><img class="app-icon" src="{{ site.url }}/img/apps/{{ post.appid }}/icon-57.png"></img></a>
                                &nbsp;
                                <a href="{{ post.url }}"><span class="app-list">{{ post.title }}</span></a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="row">
                <div class="span5">
                    <br />
                    <h2 class="title">About Me</h2>
                    <p>
                        <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" class="img-rounded floatLeft" />
                        I'm Ryan Miller - an independent developer who's current focus is mobile apps.
                    <p>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <br />
                    <h2 class="app-title">Contact</h2>
                    <ul class="unstyled">
                        <li><a href="mailto:{{ site.author.email }}">
                            <img src="/img/mail.png"><img> 
                            &nbsp;
                            {{ site.author.email }}
                        </a></li>
                        <li><a href="http://www.twitter.com/{{ site.author.twitter }}" title="Go to twitter.com/{{ site.author.twitter }}" target="_blank">
                            <img src="/img/twitter.png"></img>
                            &nbsp;
                            @{{ site.author.twitter }}
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
