a:hover {
    text-decoration: none;
}

div.left-col {
    width: 200px;
}

div.app-icon {
    text-align: center;
    padding-top: 1em;
    width: 100%;
    height: 180px;
    margin: auto;
}

div.left-row-size {
    width: 220px;
    margin: auto;
    margin-top: 1em;
}

div.app-icon img {
    display: block;
    margin: auto;
}

h1.app-title {
    padding-top: 0.5em;
    padding-bottom: 0.2em;

}

ul.social li {
    padding-bottom: 0.4em;
}

hr {
    /*padding-top: 2em;*/
}

h2.title {
    padding-bottom: 0.1em;
}

.app-store-link a {
    padding: 0.3em;
    padding-left: 0.5em;
    padding-bottom: 0.4em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
    line-height: 1.2em;
}

.app-store-link a:hover span {
    color: lightgrey;
}

img.app-icon {
    border-radius: 17.554%
}

span.app-list {
    font-size: 1.4em;
}

.app-list a:hover {
    text-decoration: none;
}


.elastislide-wrapper {
    padding-top: 1em;
    margin-top: 1em;
}


