---
layout: layout
---
<div class="app-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    <div class="app-icon">
                        <img class="app-icon" src="{{ site.url }}/img/apps/{{ page.appid }}/icon-170.png">
                    </div>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span9">
                            <br />
                            <h1 class="app-title">{{ page.title }}</h1>
                        </div>
                        <div class="span9">
                            <p>{{ page.spiel }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    <h4>Get the App:</h4>
                    <ul class="unstyled">
                        {% if page.store.ios %}
                        <li class='app-store-link'>
                            <a class="app-store-button ios" href="{{ page.store.ios }}" target="itunes_store">
                                <span class="icon"></span>
                                <em>Download now for</em><span>iPhone / iPad</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.store.android %}
                        <li class="app-store-link">
                            <a class="app-store-button android" href="{{ page.store.android }}" target="_blank">
                                <span class="icon"></span>
                                <em>Download now for</em><span>Android</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.store.blackberry %}
                        <li class="app-store-link"><a href="{{ page.store.blackberry }}" target="_blank">
                            <span class='label label-important'>BlackBerry<span>
                        </a></li>
                        {% endif %}
                        {% if page.store.windows %}
                        <li class="app-store-link"><a href="{{ page.store.windows }}" target="_blank">
                            <span class='label label-info'>Windows Mobile</span>
                        </a></li>
                        {% endif %}
                        {% if page.store.mac %}
                        <li class="app-store-link"><a href="{{ page.store.mac }}" target="_blank">
                            <span class='label'>Mac</span>
                        </a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="span6">
                    {% if page.preview %}
                        <h4>Preview:</h4>
                        <ul id="screenshots" class="elastislide-list">
                            {% for screen in page.preview %}
                            <li><a href="#"><img src="{{ site.url }}/img/apps/{{ page.appid }}/{{ screen }}" alt="app screenshot" /></a></li>
                            {% endfor %}
                        </ul>
                        <br /><br />
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    <h4>Share:</h4>
                    <ul class="unstyled social">
                        <li>
                            <div class="fb-send" data-href="{{ site.url }}/apps/{{ page.appid }}" data-font="verdana"></div>
                        </li>
                        <li>
                            <div class="g-plusone"></div>
                        <li>
                    </ul>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span12">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    &nbsp;
                </div>
                <div class="span9">
                    <h4>Feedback:</h4>
                    <ul class="unstyled">
                        <li><a href="mailto:{{ site.author.email }}">
                            <img src="/img/mail.png"><img> 
                            &nbsp;
                            {{ site.author.email }}
                        </a></li>
                        <li><a href="http://www.twitter.com/{{ site.author.twitter }}" title="Go to twitter.com/{{ site.author.twitter }}" target="_blank">
                            <img src="/img/twitter.png"></img>
                            &nbsp;
                            @{{ site.author.twitter }}
                        </a></li>
                    </ul>
                </div>
            </div>
         </div>
    </div>
    <div class="row">
        <div class="span8 column">
            <p>
              <i class="icon-calendar"></i> {{ page.date | date: "%B %e, %Y" }}
              | <i class="icon-comment"></i> <a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>     
              <br />
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.author.twitter }}">Tweet</a> <g:plusone size="medium"></g:plusone></h5>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.Elastislide.defaults.minItems = 4;
    $( '#screenshots' ).elastislide();
</script>

