---
layout: layout
---

<div class="app-content">
    <div class="row">
         <div class="span3">
             <div class="row">
                <div class="span12">
                    <div class="app-icon">
                        <img class="app-icon" src="{{ site.url }}/img/apps/{{ page.appid }}/icon-170.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="span9">
            <div class="row">
                <div class="span12">
                    <h1 class="app-title">{{ page.title }}</h1>
                </div>

                <div class="span12">
                    {{ content }}
                </div>

                <div class="span12">
                    <h4>Download:</h4>
                    <ul class="unstyled">
                        {% if page.store.ios %}
                        <li class='app-store-link'><a href="{{ page.store.ios }}" target="itunes_store">
                            <span class='label label-big label-inverse'>iPhone / iPad</span>
                        </a></li>
                        {% endif %}
                        {% if page.store.android %}
                        <li class="app-store-link"><a href="{{ page.store.android }}">
                            <span class='label label-big label-success'>Android</span>
                        </a></li>
                        {% endif %}
                        {% if page.store.blackberry %}
                        <li class="app-store-link"><a href="{{ page.store.blackberry }}">
                            <span class='label label-big label-important'>BlackBerry<span>
                        </a></li>
                        {% endif %}
                        {% if page.store.windows %}
                        <li class="app-store-link"><a href="{{ page.store.windows }}">
                            <span class='label label-big label-info'>Windows Mobile</span>
                        </a></li>
                        {% endif %}
                        {% if page.store.mac %}
                        <li class="app-store-link"><a href="{{ page.store.mac }}">
                            <span class='label label-big'>Mac</span>
                        </a></li>
                        {% endif %}
                    </ul>
                </div>


                <div class="span12">
                    <h4>Feedback - Bugs, Feature Requests, Comments:</h4>
                    <ul class="unstyled">
                        <li><a href="mailto:{{ site.author.email }}">
                            <img src="/img/mail.png"><img> 
                            &nbsp;
                            {{ site.author.email }}
                        </a></li>
                        <li><a href="http://www.twitter.com/{{ site.author.twitter }}" title="Go to twitter.com/{{ site.author.twitter }}" target="_blank">
                            <img src="/img/twitter.png"></img>
                            &nbsp;
                            @{{ site.author.twitter }}
                        </a></li>
                    </ul>
                </div>

            </div>
         </div>
    </div>
    
    <div class="row">	
        <div class="span8 column">
            <p>
              <i class="icon-calendar"></i> {{ page.date | date: "%B %e, %Y" }}
              | <i class="icon-comment"></i> <a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>     
              <br />
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.author.twitter }}">Tweet</a> <g:plusone size="medium"></g:plusone></h5>
            </p>
        </div>
    </div>

</div>
    
