<!DOCTYPE html>
<html class="fuelux" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ryan Miller">
    <!-- Open Graph -->
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ site.facebook.admins }}" property="og:admin_id">
    {% if page.appid %}
      <meta content="{{ page.title }}" property="og:title">
      <meta content="{{ page.facebook.app-id }}" property="og:app_id">
      <meta content="website" property="og:type">
      {% if page.facebook.spiel %}
          <meta name="description" content="{{ page.facebook.spiel }}" property="og:description">
      {% else %}
          <meta name="description" content="{{ page.spiel }}" property="og:description">
      {% endif %}
      <meta content="{{ site.url }}/img/apps/{{ page.appid }}/icon-round-512.png" property="og:image">
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% else %}
      <meta content="{{ site.canonical-url }}" property="og:url" />
      <meta content="{{ site.title }}" property="og:title">
      <meta content="website" property="og:type">
      <meta name="description" content="{{ site.description }}" property="og:description">
      <meta content="{{ site.url }}/img/me.jpeg" property="og:image">
    {% endif %}

    <!-- End Open Graph -->
    <link href="{{ site.url }}/css/all.css" rel="stylesheet">
    <script src="{{ site.url }}/js/all.js" type="text/javascript"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include navigation.html %}

    <div class="container">
        <div class="layout-content">
            <div class="row">
                <div class="span12">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>
